.dashboard {
    font-family: Arial, sans-serif;
    background-color: #e0dbdb;
    padding: 20px;
  }
  
  .navbar {
    background-color: #d85353;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .nav-item{
    font-size: larger;
    font-weight: bold;
  }
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #563c3c;
  }
  
  .navbar-nav {
    margin-top: 10px;
  }
  
  .nav-link {
    color: #362f2f;
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: #ccc;
  }
  
  .welcome-message {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 18px;
    color: #666;
    margin-bottom: 40px;
  }
  
  
  

  