.client-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2{
    text-transform: capitalize;
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #337ab7;
    color: #fff;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #23527c;
  }
  
  .login-links {
    margin-top: 20px;
    text-align: center;
  }
  
  .login-links p {
    margin-bottom: 10px;
  }
  
  .login-links span {
    cursor: pointer;
    color: #337ab7;
  }
  
  .register-form,
  .forgot-password-form {
    display: none;
    margin-top: 20px;
  }
  
  .show-form {
    display: block;
  }
  
  .register-form h2,
  .forgot-password-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
